
@{
    ViewBag.Title = "Art Gallery";
    Layout = "~/Views/Shared/IndeLayout.cshtml";
}

<head>
    
    <meta charset="UTF-8">
    <meta name="description" content="Photo Gallery HTML Template">
    <meta name="keywords" content="endGam,gGaming, magazine, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="~/Content/img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/Stylesheet1.css" type="text/css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/style.css" />


    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<div class="page-section home-page">
    <div class="hero-slider owl-carousel">
        <div class="slider-item d-flex align-items-center set-bg" data-setbg="Content/img/slider-bg-1.jpg" data-hash="slide-1">
            <div class="si-text-box">
                <span> Artistry</span>
                <h2>Gallery</h2>
                <p> “A life spent making mistakes is not only more honorable, but more useful than a life spent doing nothing.” ― George Bernard Shaw</p>
                <p> “Painting is poetry that is seen rather than felt, and poetry is painting that is felt rather than seen.” ― Leonardo da Vinci</p>
                <a href="" class="site-btn">Read More</a>
            </div>
            <div class="next-slide-show set-bg" data-setbg="Content/img/slider-bg-2.jpg">
                <a href="#slide-2" class="ns-btn">Next</a>
            </div>
        </div>
        <div class="slider-item d-flex align-items-center set-bg" data-setbg="Content/img/slider-bg-2.jpg" data-hash="slide-2">
            <div class="si-text-box">
                <span>Photography</span>
                <h2>Gallery</h2>
                <p> “Every child is an artist. The problem is how to remain an artist once he grows up.” ― Pablo Picasso</p>
                <p> “You must have chaos within you to give birth to a dancing star.” ― Friedrich Nietzsche</p>
                <a href="" class="site-btn">Read More</a>
            </div>
            <div class="next-slide-show set-bg" data-setbg="Content/img/slider-bg-1.jpg">
                <a href="#slide-1" class="ns-btn">Next</a>
            </div>
        </div>
        
    </div>
    <div id="snh-1"></div>
</div>
