@model ArtGalleryWeb.Models.ContactModel

@{
    ViewBag.Title = "Search Contact";
    Layout = "~/Views/Shared/IndeLayout.cshtml";
}

@*<label>First Name: </label>
<h4>@Model.FirstName</h4>
<label>Email: </label>
<h4>@Model.txtEmail</h4>
<label>Subject: </label>
<h4>@Model.Subject</h4>
<label>Message: </label>
<h4>@Model.Message</h4>*@

